.entity-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.obs-image {
  height: 250px;
  object-fit: cover;
}

mat-card-content p {
  margin: 5px 0;
}

mat-card-actions {
  margin-top: auto;
}
